src/test/resources/interopTest/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:context="http://www.springframework.org/schema/context" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd         http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd         http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd ">
    <context:property-placeholder location="api.properties" />
    <apikit:config name="apiConfig" raml="api.raml" consoleEnabled="true" consolePath="console" />
    <apikit:mapping-exception-strategy name="apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" />
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
    <flow name="api-main">
        <http:inbound-endpoint address="http://localhost:${http.port}/api" />
        <apikit:router config-ref="apiConfig" />
        <exception-strategy ref="apiKitGlobalExceptionMapping" />
    </flow>
    <flow name="put:/items/{itemId}:application/json:apiConfig">
        <set-property propertyName="Content-Type" value="application/json" />
        <set-payload value="#[NullPayload.getInstance()]" />
    </flow>
    <flow name="delete:/items/{itemId}:multipart/form-data:apiConfig">
        <set-payload value="#[NullPayload.getInstance()]" />
    </flow>
    <flow name="get:/items/{itemId}:apiConfig">
        <set-payload value="{&#xA;    &quot;id&quot;:123, &#xA;    &quot;code&quot;:&quot;AD-12&quot;,&#xA;    &quot;color&quot;:&quot;blue&quot;,&#xA;    &quot;size&quot;:&quot;medium&quot;,&#xA;    &quot;description&quot;:&quot;Borders in light blue&quot;&#xA;}" />
    </flow>
    <flow name="get:/items:apiConfig">
        <set-payload value="{&#xA;  &quot;items&quot;: &#xA;    [&#xA;      {&#xA;        &quot;id&quot;:123, &#xA;        &quot;code&quot;:&quot;AD-12&quot;,&#xA;        &quot;color&quot;:&quot;blue&quot;,&#xA;        &quot;size&quot;:&quot;medium&quot;,&#xA;        &quot;description&quot;:&quot;Borders in light blue&quot;&#xA;      }, &#xA;      {&#xA;        &quot;id&quot;:321, &#xA;        &quot;code&quot;:&quot;AD-13&quot;,&#xA;        &quot;color&quot;:&quot;pink&quot;,&#xA;        &quot;size&quot;:&quot;small&quot;,&#xA;        &quot;description&quot;:&quot;Borders in red&quot;&#xA;      }&#xA;    ]&#xA;  }" />
    </flow>
    <flow name="post:/items:application/json:apiConfig">
        <set-payload value="#[NullPayload.getInstance()]" />
    </flow>
</mule>
